<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traducteur</title>
</head>
<body>
    <section>
        <h1>Traducteur</h1>
        <p>Choisissez la langue de traduction</p>
        <div>
            <a href="/api/all_translation">All translations</a>
            <a href="/admin">Section administrateur</a>
            <a href="/swagger">Swagger</a>
        </div>
    </section> 
</body>
</html>
